<ion-header >
  <ion-toolbar color="dark" class="center">
    <ion-title>Cadastrar Aulas</ion-title>
    <ion-button size="small" slot="end" (click)="logout()">Sair</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(verLista === false)" mode="md" class="center" color="dark">
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime placeholder="Selecionar a data" [(ngModel)]="data"
    displayFormat="DD-MMM-YYYY"
    monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
    doneText="OK" cancelText="cancelar"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora</ion-label>
    <ion-select value="" okText="Ok" cancelText="Cancelar" [(ngModel)]="hora">
      <ion-select-option value="7:00">7:00</ion-select-option>
      <ion-select-option value="8:00">8:00</ion-select-option>
      <ion-select-option value="9:00">9:00</ion-select-option>
      <ion-select-option value="10:00">10:00</ion-select-option>
      <ion-select-option value="11:00">11:00</ion-select-option>
      <ion-select-option value="12:00">12:00</ion-select-option>
      <ion-select-option value="13:00">13:00</ion-select-option>
      <ion-select-option value="14:00">14:00</ion-select-option>
      <ion-select-option value="15:00">15:00</ion-select-option>
      <ion-select-option value="16:00">16:00</ion-select-option>
      <ion-select-option value="17:00">17:00</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <h5>Conteudo Programado</h5>
  </ion-item>
<ion-item>
  <ion-input style="height: 200px;" placeholder="Digite aqui" [(ngModel)]="texto">
  </ion-input>
</ion-item>

<ion-item >
  <ion-label>Aluno Vinculado: </ion-label>
  <ion-select [(ngModel)]="alunoNome" placeholder="Selecione">
    <ion-select-option *ngFor="let aluno of alunos" value="{{aluno}}" >{{aluno}}</ion-select-option>
  </ion-select>
</ion-item>

  <ion-item>
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="status" placeholder="Selecione">
      <ion-select-option value="ativo" >Ativo</ion-select-option>
      <ion-select-option value="inativo">Inativo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="(data != null)&&(hora != null)&&(texto != null)&&(reset == true)&&(status != null)" 
  expand="full" size="medium" 
  (click)="cadastroHorario()">Cadastrar Horario
</ion-button>
  

  <ion-button expand="full" *ngIf="((data == null)||(hora == null)||(texto == null)||(status == null))&&(reset == true)" 
   size="medium" disabled="true">Cadastrar Horario</ion-button>


  <p *ngIf="(reset == true)">{{mensagem}}</p>

    <ion-button class="back" *ngIf="(reset == false)" size="medium" href="/professor">Cadastrar<br> Horario</ion-button>
    <ion-button class="back" *ngIf="(reset == false)&&((data == null)||(hora == null)||(texto == null)||(status == null))"
     size="medium" disabled="true" (click)="cadastroHorario()">Cadastrar<br> Horario</ion-button>
    <ion-button *ngIf="(reset == false)" size="medium" (click)="apareceLista()">Ver Lista <br> de Horarios</ion-button>

</ion-content >


  <ion-content *ngIf="(verLista === true)">
   
    <ion-list *ngFor="let list of listaDeHrs" >
      <ion-label>
      <h4>Data:</h4>
      <ion-datetime displayFormat="DD-MMM-YYYY"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" value="{{list.data}}">
      </ion-datetime>
      <h4>Hora: </h4>
      <p>{{list.hora}}</p>
      <h3>Programação:</h3>
      <p>{{list.texto}}</p>
      <p>{{list.aluno}}</p>
      <h3>Status:</h3>
      <ion-select [(ngModel)]="list.status" placeholder="{{list.status}}">
        <ion-select-option value="ativo" >Ativo</ion-select-option>
        <ion-select-option value="inativo">Inativo</ion-select-option>
      </ion-select>
      <ion-button color="dark" expand="full" disabled="true"></ion-button>
    </ion-label>
    </ion-list>
  </ion-content>

